BasedOnStyle: LLVM
PointerAlignment: Left
IndentWidth: 4
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Empty
AlignConsecutiveAssignments: Consecutive
SpacesBeforeTrailingComments: 2
BreakBeforeBinaryOperators: NonAssignment
