BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Empty
AlignConsecutiveAssignments: Consecutive
SpacesBeforeTrailingComments: 2
BreakBeforeBinaryOperators: NonAssignment
